body, html, section {
  height: 100%;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0; }

body {
  background-color: darkseagreen;
  font-family: Verdana; }

section {
  overflow: hidden; }

h1 {
  margin-bottom: 30px; }

.content {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%); }

.wrapper, h1 {
  display: block;
  width: 100%;
  text-align: center; }

.trigger {
  position: relative;
  display: inline-block;
  height: 120px;
  width: 120px;
  border-radius: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .trigger:last-child {
    margin: 0 0 0 20px; }

object {
  display: none; }

.pg-popover {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px 13px;
  color: #fff;
  border-radius: 5px;
  background-color: rgba(72, 72, 72, 0.95);
  transition: opacity 325ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 325ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 325ms cubic-bezier(0.23, 1, 0.32, 1), transform 325ms cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform: translate(0, 15px) scale(0.8, 1);
  transform: translate(0, 15px) scale(0.8, 1);
  opacity: 0; }
  .pg-popover, .pg-popover * {
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .pg-popover.opened {
    opacity: 1;
    -webkit-transform: translate(0, 0) scale(1, 1);
    transform: translate(0, 0) scale(1, 1); }
  .pg-popover.arrow-up:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: -9px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #484848; }
  .pg-popover.arrow-down:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    bottom: -9px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #484848; }
  .pg-popover:after {
    left: 50%;
    margin: 0 0 0 -10px; }
