body, html, section{

  	height: 100%;
  	width: 100%;
  	margin:0;
  	border:0;
  	padding:0;

}

body{

	background-color: darkseagreen;
	font-family: Verdana;

}

section{

	display: flex;
  	align-items: center;
  	justify-content: center;

}

.trigger{
	
	$_size: 80px;

	position: relative;
	height: $_size;
	width: $_size;
	border-radius: $_size;
	background-color: red;


}

object{
	display:none;
}


//Important Stuff

$popoverBG: #484848;
$arrowSize: 10px;

.pg-popover{

	$_trns: 325ms cubic-bezier(0.230, 1.000, 0.320, 1.000);

	position: absolute;
	top:0;
	left:0;
	padding: 4px 13px;
	color: #fff;
	border-radius: 5px;
	background-color: rgba($popoverBG, 0.95);
	transition: opacity $_trns, transform $_trns;
	transform: translate(0, 15px) scale(0.8,1);
	opacity:0;

	&, * {

		white-space: nowrap;
		-webkit-user-select: none;
  		-moz-user-select: none;
  		-ms-user-select: none;
  		user-select: none;

	}

	&.opened{

		opacity:1;
		transform: translate(0, 0) scale(1,1);

	}

	&.arrow-up:after {

		content:"";
		display:block;
		position: absolute;
		width: 0; 
		height: 0; 
		top:-($arrowSize - 1px);
		border-left: $arrowSize solid transparent;
		border-right: $arrowSize solid transparent;
		border-bottom: $arrowSize solid $popoverBG;

	}

	&.arrow-down:after {

		content:"";
		display:block;
		position: absolute;
		width: 0; 
		height: 0; 
		bottom:-($arrowSize - 1px);
		border-left: $arrowSize solid transparent;
		border-right: $arrowSize solid transparent;
		border-top: $arrowSize solid $popoverBG;

	}

	&:after{

		left:50%;
		margin: 0 0 0 (-$arrowSize) ;

	}

}