body, html, section {
  height: 100%;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0; }

body {
  background-color: darkseagreen;
  font-family: Verdana; }

section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.trigger {
  position: relative;
  height: 80px;
  width: 80px;
  border-radius: 80px;
  background-color: red; }

object {
  display: none; }

.pg-popover {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px 12px;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #323232;
  background-color: rgba(72, 72, 72, 0.95);
  transition: opacity 325ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 325ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 325ms cubic-bezier(0.23, 1, 0.32, 1), transform 325ms cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform: translate(0, 15px) scale(0.8, 1);
  transform: translate(0, 15px) scale(0.8, 1);
  opacity: 0; }
  .pg-popover, .pg-popover * {
    white-space: nowrap; }
  .pg-popover.opened {
    opacity: 1;
    -webkit-transform: translate(0, 0) scale(1, 1);
    transform: translate(0, 0) scale(1, 1); }
