body, html, section{

  	height: 100%;
  	width: 100%;
  	margin:0;
  	border:0;
  	padding:0;

}

body{

	background-color: darkseagreen;
	font-family: Verdana;

}

section{

	display: flex;
  	align-items: center;
  	justify-content: center;

}

.trigger{
	
	$_size: 80px;

	position: relative;
	height: $_size;
	width: $_size;
	border-radius: $_size;
	background-color: red;


}

object{
	display:none;
}


//Important Stuff

$popoverBG: #484848;

.pg-popover{

	$_trns: 325ms cubic-bezier(0.230, 1.000, 0.320, 1.000);

	position: absolute;
	top:0;
	left:0;
	padding: 3px 12px;
	color: #fff;
	border-radius: 5px;
	border: 1px solid #323232;
	background-color: rgba($popoverBG, 0.95);
	// transition: opacity $_trns, transform $_trns;
	// transform: translate(0, 15px) scale(0.8,1);
	// opacity:0;
	
	&, * { white-space: nowrap; }
	// &.opened{

	// 	opacity:1;
	// 	transform: translate(0, 0) scale(1,1);

	// }

}